.countdown-container {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: "WIN";
    pointer-events: none;
    overflow: hidden;
}

.countdown-box {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-style: double;
    border-width: 5px;
    border-color: #B8B5BE;
    background-color: #030303;
}

.countdown-text {
    font-family: "WIN";
    font-size: 32px;
}