.shortcut {
    font-family: "WIN";
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    justify-content: center;
}

.shortcut > img {
    position: relative;
    margin: auto;
    width: 50px;
    height: 50px;

    image-rendering: pixelated; /* Keeps pixelation intact when scaled */
    image-rendering: crisp-edges; /* For compatibility */
    image-rendering: -moz-crisp-edges; /* Firefox-specific */
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -o-pixelated;
}

.shortcut > span {
    color: white;
    position: relative;
    margin: auto;
    font-size: 16px;
    text-shadow: 
        2px 0 0 black,  /* Right shadow */
        0 2px 0 black;
}

.shortcut > span, img {
    pointer-events: none;
    user-select: none;
}

/* #draggable img,
#draggable span {
    pointer-events: none;
    user-select: none;
} */